
<!--
<input type="text" [(ngModel)]="hero.name">-->

<mat-card class="example-card" *ngIf="hero.name
 && hero.thumbnail.path && hero.thumbnail.extension">
  <mat-card-header appHilight>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title >{{hero.name | uppercasepipe}}</mat-card-title>
    <mat-card-subtitle>Hero</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image (click)="onHeroClick(hero)"
       [src]="hero.thumbnail.path +'.'+hero.thumbnail.extension" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      {{hero.description}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>More</button>
  </mat-card-actions>
</mat-card>
