<div class="example-container">
  <form [formGroup]="loginForm">
    <mat-form-field>
      <input matInput type="text" placeholder="Enter Your Email"  formControlName="emailField">

    </mat-form-field>

    <mat-form-field>
      <input matInput type="password" placeholder="Enter Your Password" formControlName="passwordField">
    </mat-form-field>
      <button (click)="onLogin()">Login</button>

    </form>
</div>
