<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Third Line</span>
    <span class="example-spacer"></span>
    <mat-icon (click)="onDrawerClick()" class="example-icon" aria-hidden="false" aria-label="Example delete icon">list
    </mat-icon>
  </mat-toolbar-row>
</mat-toolbar>
<mat-drawer-container class="example-container"  style="width: 100%;height: 100%">
  <mat-drawer mode="side" [opened]="drawerOpened">

    <mat-list>
      <mat-list-item>Item 1</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Item 2</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Item 3</mat-list-item>
    </mat-list>

  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>

  </mat-drawer-content>
</mat-drawer-container>



